body{
    background-color: rgb(40, 114, 51,.5);
}

/*Bar*/

.bar{
    background-image: url(Images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 35vh;
    margin: 0;

    border-radius: 10px;
    border: solid;
    border-color: rgb(40, 114, 51);
}

    /*Title*/
    .title > h1{
        border: solid 1px;
        border-radius: 10px;

        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;

        display: block;

        text-align: center;
        
        width: 50%;

        color: rgb(40, 114, 51);
        font-size: 400%;
    }

    .title > h3{
        text-align: center;
        color: rgb(40, 114, 51);
        font-size: 250%;
    }

    /*Nav*/
    ul{
        color: rgb(40, 114, 51);
    
        list-style: none;
        width: 50%;
        margin: auto;
    
        text-align: center;
        padding-left: 0%;
        margin-top: 3.5vh;
    }
    
    ul>li{
        display: inline-block;

        border-style: solid;
        border-radius: 15px;

        color: rgb(40, 114, 51);
        font-size: 200%;
        
        background-color: rgb(255, 255, 255, .5);
        width: 15vw;
    }

    ul>li>a{
        color: rgb(40, 114, 51);
        text-decoration: none;
    }

    /*Divs*/

    .help{
        display: grid;
        grid-template-columns: auto auto auto;

        margin-top: 3.5vh;
        margin-left: 3.5vw;
        margin-right: auto;
    }

    .flights{
        display: block;

        background-image: url(Images/flight.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        border: solid rgb(40, 114, 51) 3px;
        border-radius: 10px;

        width: 27vw;
        height: 20vh;
    }

    .flights-text{
        background-color: rgb(255, 255, 255, .5);
        border-radius: 10px;

        opacity: 100%;

        text-align: center;
        color: rgb(40, 114, 51);
        font-size: 200%;
        text-decoration: none;
    }

    .hotels{
        display: block;

        background-image: url(Images/hotel.webp);
        background-repeat: no-repeat;
        background-size: cover;

        border: solid rgb(40, 114, 51) 3px;
        border-radius: 10px;

        width: 27vw;
        height: 20vh;
    }

    .hotels-text{
        background-color: rgb(255, 255, 255, .5);
        border-radius: 10px;

        opacity: 100%;

        text-align: center;
        color: rgb(40, 114, 51);
        font-size: 200%;
        text-decoration: none;
    }

    .tours{
        display: block;

        background-image: url(Images/tour.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        border: solid rgb(40, 114, 51) 3px;
        border-radius: 10px;

        width: 27vw;
        height: 20vh;
    }
    .tours-text{
        background-color: rgb(255, 255, 255, .5);
        border-radius: 10px;

        opacity: 100%;

        text-align: center;
        color: rgb(40, 114, 51);
        font-size: 200%;
        text-decoration: none;
    }

/*General*/

    /*